body {
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6,p {
    font-family: "Open Sans", sans-serif;
}
div {
    outline-color: darkblue;
}
div.ridge {
    outline-style: ridge;
}
body {
    background: linear-gradient(#b1b1ff, #6262ff);
}